.container{
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9;
    padding-left: 14%;
    padding-right: 14%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formContainer {
    background-color: white;
    border-radius: 10px;
}

.formItem {
    padding: 20px;
}

.titleLogo {
    border-radius: 50%;
}
