.categoryContainer {
    margin-bottom: 100px;
}

.categoryMain {
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
    padding-left: 15%;
    padding-right: 15%;
}

.SlideContainer {
    margin: 50px;
    gap: 10px;
}

.category {
    width: 50px;
    height: 200px;
    padding: 2rem;
    border-radius: 10px;
    cursor: pointer;
    
}

.Header {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 15%;
    margin-bottom: 2rem;
}

.categoryImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.headerName{
    text-align: center;
}